.collapsible-box {
  position: relative;
  float: left;
  background-color: #EEE;
  overflow: hidden;
  display: inline-block;
  transition: width 0.5s ease-in-out;
  margin-right: 10px;
}

.collapsible-box.close {
  width: 50px;
}

.collapsible-box.open {
  width: auto;
}

.collapsible-box.close .content {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0s ease-in-out;
}

.collapsible-box.open .content {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s, visibility 0s ease-in-out;
}

.collapsible-box .toggle {
  width: 100%;
}