.formSection  {
    border: 1px solid #cacaca;
    border-radius: 3px;
    margin: 0;
    padding: 1px 4px 1px 4px ;
}

.formSection h3 {
    color: #000;
    font-size: 16px;
    text-align: left;
    font-weight: bold;
    padding: 0;
}

.formSection td {
    text-align: center;
    min-width: 75px;
    padding: 1;
}

.formSection th {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    white-space: normal !important;
    max-width: 75px;
    background-color: #eaf7fb;
    max-width: 200px;
}

.indicatorArea {
    margin-top: 0px;
    margin-bottom: 5px;
    border-top: none;
}

.indicatorArea td {
    width: 100% !important;
    text-align: left !important;
}

.entryfield, .indicator {
    max-width: 75px;
}

.entryarea {
    max-width: 300px;
}

#contentDiv .nrcsubsection {
    background-color: #fff;
    height: 5px;
}

#contentDiv input.entryfield {
    width: 70px;
    height: 18px;
    padding: 2px;
}

#contentDiv input.dataelementtotal {
    width: 70px;
    height: 16px;
    padding: 2px;
}

#contentDiv input.indicator {
    width: 70px;
    height: 18px;
    padding: 2px;
}

#contentDiv tr.derow {
    background-color: #FFF;
}

#contentDiv tr.focus {
    background-color: #e5f5e5;
}

#contentDiv tr.hover, #contentDiv tr:hover {
    background-color: #e5e5e5;
}

#contentDiv th {
    border-style: hidden !important;
}

#contentDiv td {
    padding: 2px !important;
    height: 16px;
    text-align: center;
    border-style: none !important;
}

#contentDiv td.nrcindicatorName {
    text-align: left;
    white-space: normal;
    max-width: 33%;
}

#contentDiv tr.secondary td.nrcindicatorName {
    font-style: italic;
}

#contentDiv td.lastinrow {
    background-color: #eee;
    text-align: center;
}

#contentDiv th.nrcinfoheader {
    text-align: left;
    border-bottom-style: hidden;
    border-left-style: hidden;
    border-top-style: hidden;
    width: 100%;
    white-space: nowrap;
    background-color: #fff;
    padding: 2px !important;
}

#contentDiv th.nrcdataheader {
    text-align: center;
    border-bottom: 1px solid #ddd !important;
    background-color: #eaf7fb;
    white-space: nowrap;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 10px;
    padding-right: 10px;
    word-wrap: break-word;
}

#contentDiv th.nrctotalheader {
    text-align: center;
    border-bottom: 1px solid #ddd !important;
    background-color: #eee;
    white-space: nowrap;
    padding-top: 2px !important;
    padding-bottom: 2px !important;
    padding-left: 10px;
    padding-right: 10px;
}

#contentDiv .panel {
    margin-bottom: 7px;
}

#contentDiv .panel-body {
    padding-top: 0;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 4px;
}

#contentDiv .panel-default > .panel-heading {
    background-color: #3c3c3c !important;
    border-color: #3c3c3c;
    padding: 7px;
    margin-bottom: 5px;
    cursor: pointer;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    color: #053e21;
}

.ui-widget-header {
    background: none;
    background-color: #2f3867;
}

#contentDiv a.nrc-panel-title {
    color: white;
    cursor: pointer;
}
 
#contentDiv .accordion-toggle:after {
    font-family: FontAwesome;
    content: "\f077";
    float: right;
    color: white !important;
}

#contentDiv .panel-heading.collapsed .accordion-toggle:after {
    content: "\f078";
}

#contentDiv .sectionTable {
    margin-bottom: 0px !important;
    margin-top: 5px;
}

.page p,.page td,.page th,.page input,.page select,.page textarea {
    font-size: 9pt;
}

.page th {
    text-align: left;
    color: #39547d;
    padding: 3px 0 3px 1px;
    font-size: 13px;
    font-weight: bold;
    border-collapse: collapse;
    border-bottom: 1px solid #cad5e5;
    min-height: 28px;
}